test-results
node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db
.env
# Env
.env.dev
#.env.*
!.env.example
!.env.test

.env.keys

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

# wrangler files
.wrangler
.dev.vars

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
wrangler.generated.toml

# Paraglide
src/lib/paraglide
